.common {
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
  padding: 10px 8px;
  cursor: pointer;
  border: 2px solid #fff;
}

.button__play {
  color: #3c9950;
  background: #fff;
  width: 11rem;
}

.button__back {
  color: #fff;
  background: #3c9950;
  width: 11rem;
}
